<ngb-tabset #t="ngbTabset">
  <ngb-tab *ngFor="let thing of mocks">
    <ng-template ngbTabTitle>{{thing.name}}
    </ng-template>
    <ng-template ngbTabContent>
      <div myHost> </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
        <div ngbDropdown class="d-inline-block">
      <button class="tab-button" id="dropdownTitle" aria-haspopup="true" ngbDropdownToggle>New tab</button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTitle">
        <button class="dropdown-item" href="#" *ngFor="let tab of mocks" (click)="NewTab(tab.name)">{{tab.name}}</button>
      </div>
    </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<!-- KEY PROBLEM
Due to the fact, that you cannot click on any element above this, without sacrificing usability, f.e. if you put a button in the "ngbTabTitle",
another solution has to found to really trigger the change of the tab.

In short: "(click)" is not an option up there to trigger a function that loads the component
-->



<!-- WORKING ALTERNATIVE - hard coded list without tabs
This works beacuse the "(click)" finds it place neat in the place where the "*ngFor" is iterating through the available mock data
(which is in the case the same as the iterating through the availbale components, see hardcoded in app.component.ts)
-->

<ul class="nav navbar-nav">
  <li *ngFor="let thing of mocks"><a  href="#" (click)="onClick(thing.name)" >{{thing.name}}</a></li>
</ul>
